body {
    padding: 10px;
}

#app form div {
    margin-bottom: 5px;
}

#app .message {
    padding: 5px;
    background: yellow;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: 0px;
}

#app div {
    margin-bottom: 5px;
}

body .pure-menu-item {
    height: auto;
}

form label {
    width: 100px;
    display: inline-block;
}

body #app input[type='text'], body #app input[type='password'] {
    border-radius: 0px;
    border-color: black;
}
