<html>
    <head>
        <script src="/js/gotrue.js"></script>
        <script src="https://unpkg.com/vue"></script>
        <link rel="stylesheet" href="/css/main.css"></link>
    </head>

    <body>
        <h1>GoTrue Example</h1>

        <div id="app">
            <div v-if='message' class="message">{{message}}</div>
            <div v-else></div>

            <div v-if="user==null">
                <div>
                    <a href="#" v-on:click.prevent="page='signup'">Sign up</a> |
                    <a href="#" v-on:click.prevent="page=''">Login</a>
                    <a href="https://github.com/login/oauth/authorize?client_id=b1a5569fe5ca55a141bf&scope=user:email&redirect_uri=http://127.0.0.1:8000">Login with Github</a>
                </div>

                <div v-if="page=='signup'" class="signup">
                    <form v-on:submit.prevent="signup">
                        <div><label>Email: </label><input type='text' v-model='signup_email'/></div>
                        <div><label>Password: </label><input type='password' v-model='signup_password'/></div>
                        <input type='submit' value='Sign up'/>
                    </form>
                </div>

                <div v-else class="login">
                    <form v-on:submit.prevent="login">
                        <div><label>Email: </label><input type='text' v-model='login_email'/></div>
                        <div><label>Password: </label><input type='password' v-model='login_password'/></div>
                        <div><input type='checkbox' v-model='login_remember'/><label>Remember me</label></div>
                        <input type='submit' value='Login'/>
                    </form>
                </div>
            </div>

            <div v-else>
                <div>
                    <a href="#" v-on:click.prevent="logout">Logout</a>
                </div>

                <h2>Hello, {{ user.email }}</h2>

                <h3>Information</h3>
                <ul>
                    <li>Audience: {{ user.aud }}</li>
                    <li>Role: {{ user.role }}</li>
                </ul>
            </div>

        </div>

        <script src="/js/main.js"></script>
    </body>
</html>
